#bar {
    position: absolute;
    background-color: blueviolet;
    width: 0.1vw;
    height: 5vh;
    margin: 10vh 20vw;
    box-shadow: -1px 2px 3px rgb(0,0,0);
    border-radius: 1vw;
    color: white;
    
}

#pBar {
    position: absolute;
    right: 1vw;
    margin-top: -0.8vh;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

#timer1 {
    position: absolute;
    font-size: 2vw;
    font-weight: 600;
    margin: 5vh 20vw;
}